<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>wechat</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>wechat</param-value>
	</context-param>

	<servlet>
		<servlet-name>WeChatServlet</servlet-name>
		<servlet-class>com.lightfight.wechat.WeChatServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WeChatServlet</servlet-name>
		<url-pattern>/wechat</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>3600</session-timeout>
	</session-config>

</web-app>